/*Agregado por bryan*/
:root {
    --blanco: #ffffff;
    --secundario: #0097A7;
    --gris: #757575;
    --oscuro: #212121;
}

body {
    font-family: 'Roboto', sans-serif; 
    background-image: url('fotos/ice cream cones 2.jpg');
    align-items: center;
}

main {
    background-repeat: no-repeat;
    background-size: cover; 
    height:750px;
    width:1250px;
    background-color: rgb(0 0 0 / 30%);
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {

    font-size: 40px;
    color: black;
    display:flex;
    text-align: center;
    justify-content:center;
    flex-wrap: wrap;
}

input {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 20px;
    font-size: 18px;
    padding-left: 15px;
}

.botonLogin {
    height: 40px;
    width: 317px;
    border-radius: 20px;
    border: none;
    background-color: #039be5;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.botonHome{
    height:50px;
    width: 100px;
    border-radius:20px;
    border:none;
    background-color:#039be5;
    color:white;
    font-weight:bold;
    cursor:pointer;
    font-size: 14px;
    position:relative;
    left:1000px;
    margin-bottom: 15px;
    top:-70px;
}

.botonComprar{
    height:30px;
    width:150px;
    border-radius:20px;
    cursor:pointer;
    background-color:antiquewhite;
    position:relative;
    left:30px;
    margin-right: 53px;

}



.material-symbols-outlined{
    position: relative;
    display: inline-block;
    left:980px;
    top:-55px;
    cursor: pointer;
}

p{
    color:black;
    left:1000px;
    top:-20px;
    background-color: var(--gris);
}

/*crea pantalla negra encima del background para utilizar en carrito*/
.half-black {
    background: rgba(0, 0, 0, 0.5);
    
  }

/*---------------------Codigo de prueba Bryan--------------------------------*/

.contenedor {
    margin: 0 auto;
    max-width: 1200px;
}

.servicios {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display:flex;
    justify-content: space-between;
}

.servicio {
    text-align:center;
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconos {
    display: flex;
    height: 150px;
    width: 150px;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primario);
    border-radius: 50%;
}

.iconos i {
    font-size: 2rem;
    color: var(--oscuro);
}

.contenedor-campos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.formulario {
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 10px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.formulario legend {
    text-align: center;
    font-size: 1.2rem;
    color: var(--primario);
    margin-bottom: 2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

.content2 {
    width: 200px;
	padding: 25px 0;
	margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.botonSend {
    display: flex;
    justify-content: center;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    margin-top: .5rem;
    padding: .5rem 3rem;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    border:none;
}
.boton:hover{
    cursor: pointer;
}

.titleHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.enviar {
    display: flex;
    justify-content: flex-end;
}

.billDetails {
    
}


/*se esconden las imagenes de los helados. Solo deberían aparecer si el usuario agregó X sabor al carrito*/
  #heladoVainilla { visibility: hidden; }
  #heladoFresa { visibility: hidden; }
  #heladoPistacho { visibility: hidden; }
  #heladoCiruela { visibility: hidden; }
  #heladoArandano { visibility: hidden; }
  #heladoLimon { visibility: hidden; }


