body {
    font-family: 'Roboto', sans-serif; 
}

.main {
    padding-top: 10vh;
}

.container {
    display:flex;
    width:100%;
    justify-content:center;
    flex-wrap: wrap;
}

.containerImagen{

    position:relative;
    text-align:center;
    color:blue;
}



h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {

    font-size: 40px;
    color: skyblue;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

input {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 20px;
    font-size: 18px;
    padding-left: 15px;
}

button {
    height: 40px;
    width: 317px;
    border-radius: 10px;
    border: none;
    background-color: #039be5;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: red;
}

.alert {
    color: red;
}

.hide {
    display: none;
}