body {
    font-family: 'Roboto', sans-serif; 
}

main {
    background-image: url('ice cream cones 2.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    height:750px;
    width:1250px;
}

.container {
    display:flex;
    width:100%;
    justify-content:center;
    flex-wrap: wrap;
}



h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {

    font-size: 40px;
    color: black;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

input {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 20px;
    font-size: 18px;
    padding-left: 15px;
}

.botonLogin {
    height: 40px;
    width: 317px;
    border-radius: 20px;
    border: none;
    background-color: #039be5;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.botonHome{

    height:50px;
    width: 100px;
    border-radius:20px;
    border:none;
    background-color:#039be5;
    color:white;
    font-weight:bold;
    cursor:pointer;
    font-size: 14px;
    position:relative;
    left:1000px;
    margin-bottom: 15px;
    top:-70px;
}

.botonComprar{


    height:30px;
    width:150px;
    border-radius:20px;
    cursor:pointer;
    background-color:antiquewhite;
    position:relative;
    left:30px;
    margin-right: 53px;

}



.material-symbols-outlined{

position: relative;
display: inline-block;
left:980px;
top:-55px;
cursor: pointer;
}

p{

    height:30px;
    width:150px;
    color:black;
    position:relative;
    left:990px;
    top:-20px;

}

/*crea pantalla negra encima del background para utilizar en carrito*/
.half-black {
    background: rgba(0, 0, 0, 0.5);
    
  }


/*se esconden las imagenes de los helados. Solo deberían aparecer si el usuario agregó X sabor al carrito*/
  #heladoVainilla { visibility: hidden; }
  #heladoFresa { visibility: hidden; }
  #heladoPistacho { visibility: hidden; }
  #heladoCiruela { visibility: hidden; }
  #heladoArandano { visibility: hidden; }
  #heladoLimon { visibility: hidden; }


